// These are the styles to make some of the templates look extra nice.
// Feel free to remove these styles for production!

// Body Styles 
body,
html, 
.body {
  background: #f3f3f3 !important;
  color: #444444;
}

p{
  color: #444444;
}
.container.header {
  background: #f3f3f3;
}

.body-drip {
  border-top: 8px solid #663399;
}

// Full Width Headers
.header {
  background: #fff;
  border-bottom: 3px solid #c00000;
}

.header .columns {
  padding-bottom: 0;
}

.header p {
  color: #fff;
  padding-top: 15px;
}

.header .wrapper-inner {
  padding: 20px;
}

.header .container {
  background: transparent;
}

// Social Media
table.button.facebook table td {
  border-radius: 4px;
  background: #3B5998 !important;
  border-color: #3B5998;
}

table.button.twitter table td {
    border-radius: 4px;
  background: #1daced !important;
  border-color: #1daced;
}

table.button.google table td {
    border-radius: 4px;
  background: #DB4A39 !important;
  border-color: #DB4A39;
}

.wrapper.secondary {
  background: #f3f3f3;
}

.reset{
 background: #c00000 !important;
 border-color: #c00000;
}

.social-images{
  display: inline-block;
  padding-left: 6px;
  margin-left: 3px;
  max-width: 27px;
  max-height: 27px;
}

.align-right{
  text-align: right;
}

.bodyCopy{
  margin-bottom: 0px;
}


.footerCopy{

  font-size: 14px;
}

.btn {
  &__outer {
    text-align: center;
    border-radius: 3px;
    background-color: #c00000;
  }

  &__text {
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    text-decoration: none;
    text-decoration: none;
    border-radius: 3px;
    padding: 12px 18px;
    border: 1px solid #c00000;
    display: inline-block;
  }
}